@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*FUENTES*/
@font-face {
  font-family: "Neo Sans";
  src: url("../fonts/NeoSans.eot");
  src: url("../fonts/NeoSans.woff") format("woff"), url("../fonts/NeoSans.woff2") format("woff2"), url("../fonts/NeoSans.svg#filename") format("svg");
}
@font-face {
  font-family: "Neo Sans Light";
  src: url("../fonts/NeoSans-Light.eot");
  src: url("../fonts/NeoSans-Light.woff") format("woff"), url("../fonts/NeoSans-Light.woff2") format("woff2"), url("../fonts/NeoSans-Light.svg#filename") format("svg");
}
@font-face {
  font-family: "Neo Sans Medium";
  src: url("../fonts/NeoSans-Medium.eot");
  src: url("../fonts/NeoSans-Medium.woff") format("woff"), url("../fonts/NeoSans-Medium.woff2") format("woff2"), url("../fonts/NeoSans-Medium.svg#filename") format("svg");
}
@font-face {
  font-family: "Neo Sans Bold";
  src: url("../fonts/NeoSans-Bold.eot");
  src: url("../fonts/NeoSans-Bold.woff") format("woff"), url("../fonts/NeoSans-Bold.woff2") format("woff2"), url("../fonts/NeoSans-Bold.svg#filename") format("svg");
}
/**/
/*COLORES*/
/**/
/*GENÉRICOS*/
/* line 49, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-appearance: none;
}

/* line 55, ../sass/screen.scss */
*:focus {
  border: none;
  outline: none !important;
  box-shadow: none !important;
}

/* line 60, ../sass/screen.scss */
html,
body {
  width: 100%;
  height: 100%;
  background: #FFF;
  overflow: hidden;
  font-family: "Neo Sans Light";
}

/* line 68, ../sass/screen.scss */
main {
  position: fixed;
  top: 60px;
  right: 60px;
  left: 60px;
  bottom: 60px;
  overflow: hidden;
}

/* line 76, ../sass/screen.scss */
.contenedor-izquierda {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 82, ../sass/screen.scss */
.contenedor-izquierda .contenedor-izquierda-interior {
  height: 100%;
}

/* line 86, ../sass/screen.scss */
.contenedor-derecha {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 92, ../sass/screen.scss */
.contenedor-derecha .contenedor-derecha-interior {
  height: 100%;
}

/* line 96, ../sass/screen.scss */
.inherit {
  position: inherit !important;
}

/* line 99, ../sass/screen.scss */
h1 {
  width: 100%;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 40px;
  color: #000;
}

/* line 108, ../sass/screen.scss */
h2 {
  width: 100%;
  display: block;
  margin-top: 35px;
  margin-bottom: 10px;
  font-family: "Neo Sans Medium";
  font-size: 20px;
  color: #000;
}

/* line 117, ../sass/screen.scss */
h3 {
  width: 100%;
  display: block;
  margin-bottom: 25px;
  font-family: "Neo Sans Medium";
  font-size: 18px;
  color: #000;
}

/* line 125, ../sass/screen.scss */
p {
  margin: 5px 0 15px 0;
  line-height: 20px;
  letter-spacing: 1px;
  font-size: 14px;
  color: #222;
}
/* line 131, ../sass/screen.scss */
p strong {
  font-family: "Neo Sans Medium";
}

/* line 135, ../sass/screen.scss */
ul,
li {
  list-style: none;
}

/* line 139, ../sass/screen.scss */
a {
  transition: .3s ease-in-out;
}

/* line 142, ../sass/screen.scss */
a:hover,
a:focus {
  text-decoration: none;
  cursor: pointer;
  transition: .3s ease-in;
}

/* line 148, ../sass/screen.scss */
textarea {
  resize: none;
}

/* line 151, ../sass/screen.scss */
button {
  cursor: pointer;
}

/* line 154, ../sass/screen.scss */
img {
  width: 100%;
  vertical-align: top;
}

/**/
/*LOADER*/
/* line 161, ../sass/screen.scss */
#loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  background: #FFF;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
}
/* line 175, ../sass/screen.scss */
#loader .circulo {
  border: 0 solid #62B5AB;
  border-radius: 50%;
  animation: loader-figure 1s infinite cubic-bezier(0.2, 0.5, 0.3, 1);
}
@keyframes loader-figure {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    border-width: 10px;
    opacity: .5;
  }
  100% {
    width: 15px;
    height: 15px;
    border-width: 15px;
    opacity: 1;
  }
}
/* line 199, ../sass/screen.scss */
#loader .cbr {
  margin-top: 50px;
  letter-spacing: 1px;
  font-size: 30px;
  color: #62B5AB;
}
/* line 205, ../sass/screen.scss */
#loader .circulo,
#loader .cbr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**/
/*MENÚ*/
/* line 216, ../sass/screen.scss */
header {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 60px;
  left: 60px;
}
/* line 225, ../sass/screen.scss */
header .logo {
  width: 60px;
  height: 60px;
  display: inline-block;
  position: relative;
  z-index: 999;
}
/* line 232, ../sass/screen.scss */
header .menu {
  width: 160px;
  height: 60px;
  display: inline-block;
  background: #000;
  position: relative;
  z-index: 999;
  cursor: pointer;
}
/* line 240, ../sass/screen.scss */
header .menu .contenedor-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
/* line 246, ../sass/screen.scss */
header .menu .contenedor-menu p {
  width: 50%;
  margin: 0;
  border-right: 1px solid #666;
  text-align: center;
  line-height: 60px;
  font-size: 18px;
  color: #FFF;
}
/* line 255, ../sass/screen.scss */
header .menu .contenedor-menu .contenedor-hamburguesa {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
/* line 261, ../sass/screen.scss */
header .menu .contenedor-menu .contenedor-hamburguesa .hamburguesa {
  width: 30px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
/* line 266, ../sass/screen.scss */
header .menu .contenedor-menu .contenedor-hamburguesa .hamburguesa .linea-hamburguesa {
  width: 50%;
  height: 2px;
  background: #FFF;
  position: absolute;
  top: 50%;
  transform-origin: center;
}
/* line 274, ../sass/screen.scss */
header .menu .contenedor-menu .contenedor-hamburguesa .hamburguesa .linea-izquierda {
  left: 0;
}
/* line 277, ../sass/screen.scss */
header .menu .contenedor-menu .contenedor-hamburguesa .hamburguesa .linea-derecha {
  right: 0;
}
/* line 280, ../sass/screen.scss */
header .menu .contenedor-menu .contenedor-hamburguesa .hamburguesa .linea-1 {
  margin-top: -7px;
}
/* line 283, ../sass/screen.scss */
header .menu .contenedor-menu .contenedor-hamburguesa .hamburguesa .linea-3 {
  margin-top: 7px;
}
/* line 290, ../sass/screen.scss */
header .menu .contenedor-menu:hover .linea-izquierda {
  transform: translateX(-3px);
}
/* line 293, ../sass/screen.scss */
header .menu .contenedor-menu:hover .linea-derecha {
  transform: translateX(3px);
}
/* line 298, ../sass/screen.scss */
header .menu-holder-izq {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 888;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
}
/* line 313, ../sass/screen.scss */
header .menu-holder-izq a {
  width: 300px;
}
/* line 317, ../sass/screen.scss */
header .menu-holder {
  width: 50%;
  height: 100%;
  background: #FFF;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 888;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
}
/* line 328, ../sass/screen.scss */
header .menu-holder nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  font-size: 30px;
  color: #666;
}
/* line 337, ../sass/screen.scss */
header .menu-holder nav ul {
  margin-left: 50px;
  padding: 50px 0 50px 50px;
  border-left: 1px solid #222;
}
/* line 341, ../sass/screen.scss */
header .menu-holder nav ul li {
  padding: 15px 0;
}
/* line 343, ../sass/screen.scss */
header .menu-holder nav ul li a {
  display: inline-block;
  position: relative;
  color: #222;
  transition: all 0.3s cubic-bezier(0.25, 1, 0.3, 1);
}
/* line 349, ../sass/screen.scss */
header .menu-holder nav ul li a:before {
  width: 10px;
  height: 1px;
  background: #666;
  position: absolute;
  bottom: 0;
  content: '';
  transform: translateX(0%);
  transition: all 0.3s cubic-bezier(0.25, 1, 0.3, 1);
}
/* line 359, ../sass/screen.scss */
header .menu-holder nav ul li a:hover {
  color: #666;
  transition: all 0.3s cubic-bezier(0.25, 1, 0.3, 1);
}
/* line 363, ../sass/screen.scss */
header .menu-holder nav ul li a:hover:before {
  width: 150%;
  background: #62B5AB;
}
/* line 371, ../sass/screen.scss */
header .menu-holder-izq.loc2,
header .menu-holder.loc {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}
/* line 377, ../sass/screen.scss */
header .transicion {
  transition: all 250ms ease-in-out;
}
/* line 380, ../sass/screen.scss */
header .transicion:hover {
  transition: all 250ms ease-in;
}
/* line 383, ../sass/screen.scss */
header .transicion-lenta {
  transition: all 500ms ease-in-out;
}
/* line 386, ../sass/screen.scss */
header .transicion-lenta:hover {
  transition: all 500ms ease-in;
}

/**/
/*HOME*/
/* line 393, ../sass/screen.scss */
video {
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  display: block;
  background: url("../images/preview-video.png") center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  transition: .3s opacity;
}

/* line 408, ../sass/screen.scss */
.stopfade {
  opacity: .7;
}

/* line 411, ../sass/screen.scss */
.logo-animado {
  display: none;
}

/* line 414, ../sass/screen.scss */
.contenedor-intro {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
/* line 420, ../sass/screen.scss */
.contenedor-intro .intro {
  width: 500px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}
/* line 425, ../sass/screen.scss */
.contenedor-intro .intro h1 {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Neo Sans Medium";
  font-size: 24px;
  color: #FFF;
}
/* line 434, ../sass/screen.scss */
.contenedor-intro .intro p {
  margin: 0;
  line-height: 20px;
  font-size: 18px;
  color: #FFF;
}

/* line 442, ../sass/screen.scss */
.contenedor-servicios {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  left: 50px;
  bottom: 50px;
}
/* line 450, ../sass/screen.scss */
.contenedor-servicios .label {
  margin-bottom: 15px;
  padding: 5px 10px;
  background: #62B5AB;
  border-radius: 0;
  font-size: 14px;
  color: #FFF;
}
/* line 458, ../sass/screen.scss */
.contenedor-servicios .texto-alternado {
  font-size: 30px;
  color: #000;
}
/* line 462, ../sass/screen.scss */
.contenedor-servicios .chars {
  color: #666;
}

/* line 466, ../sass/screen.scss */
.logos-premios {
  width: auto;
  max-width: 300px;
  position: absolute;
  right: 50px;
  bottom: 50px;
}

/**/
/*QUÉ HACEMOS*/
/* line 476, ../sass/screen.scss */
.que-hacemos {
  width: 70%;
}

/* line 479, ../sass/screen.scss */
.contenedor-foto-comunicacion {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
}

/**/
/*RAMAS DE COMUNICACIÓN*/
/* line 493, ../sass/screen.scss */
.ramas-comunicacion {
  width: 50%;
  background: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
/* line 500, ../sass/screen.scss */
.ramas-comunicacion p {
  width: 90%;
}

/* line 504, ../sass/screen.scss */
.ms-section.ms-table {
  width: 100%;
  display: table;
}

/* line 508, ../sass/screen.scss */
.ms-tableCell {
  width: 100%;
  height: 100% !important;
  display: table-cell;
  vertical-align: middle;
}

/* line 514, ../sass/screen.scss */
.ms-easing {
  transition: all .5s ease-out;
}

/* line 517, ../sass/screen.scss */
#multiscroll-nav {
  position: fixed;
  top: 50%;
  left: 60px;
}
/* line 521, ../sass/screen.scss */
#multiscroll-nav li {
  width: 10px;
  height: 10px;
  display: block;
  margin: 10px 0;
}
/* line 526, ../sass/screen.scss */
#multiscroll-nav li a {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
/* line 531, ../sass/screen.scss */
#multiscroll-nav li a span {
  width: 10px;
  height: 10px;
  background: #FFF;
  border: 1px solid #888;
  border-radius: 50%;
  position: absolute;
}
/* line 542, ../sass/screen.scss */
#multiscroll-nav li a:hover span,
#multiscroll-nav li a.active span {
  background: #666;
  border: 1px solid #666;
}

/* line 549, ../sass/screen.scss */
.contenedor-rama {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
/* line 553, ../sass/screen.scss */
.contenedor-rama .rama {
  width: 500px;
  padding: 30px;
  border-left: 1px solid #222;
}
/* line 557, ../sass/screen.scss */
.contenedor-rama .rama p {
  margin-bottom: 0;
}
/* line 559, ../sass/screen.scss */
.contenedor-rama .rama p a {
  color: #222;
}
/* line 562, ../sass/screen.scss */
.contenedor-rama .rama p a:hover {
  color: #62B5AB;
}

/* line 568, ../sass/screen.scss */
div.right.ms-right {
  right: 0 !important;
}

/* line 571, ../sass/screen.scss */
.contenedor-foto-rama {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
/* line 577, ../sass/screen.scss */
.contenedor-foto-rama iframe {
  height: 500px;
}

/* line 581, ../sass/screen.scss */
#comunicacion-estrategica {
  background: url("../images/ramas-de-comunicacion/composicion-estrategica.jpg") no-repeat;
  background-position: center top;
  background-size: cover;
}

/* line 586, ../sass/screen.scss */
#comunicacion-publicitaria {
  background: url("../images/ramas-de-comunicacion/composicion-publicitaria.jpg") no-repeat;
  background-position: center top;
  background-size: cover;
}

/* line 591, ../sass/screen.scss */
#comunicacion-digital {
  background: url("../images/ramas-de-comunicacion/composicion-digital.jpg") no-repeat;
  background-position: center top;
  background-size: cover;
}

/* line 596, ../sass/screen.scss */
#comunicacion-audiovisual {
  background: url("../images/ramas-de-comunicacion/composicion-audiovisual.jpg") no-repeat;
  background-position: center top;
  background-size: cover;
}

/* line 601, ../sass/screen.scss */
#comunicacion-interna {
  background: url("../images/ramas-de-comunicacion/composicion-interna.jpg") no-repeat;
  background-position: center top;
  background-size: cover;
}

/* line 606, ../sass/screen.scss */
#comunicacion-editorial {
  background: url("../images/ramas-de-comunicacion/composicion-editorial.jpg") no-repeat;
  background-position: center top;
  background-size: cover;
}

/**/
/*CLIENTES / TESTIMONIOS*/
/* line 614, ../sass/screen.scss */
.contenedor-clientes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
/* line 620, ../sass/screen.scss */
.contenedor-clientes h1 {
  text-align: center;
}
/* line 623, ../sass/screen.scss */
.contenedor-clientes .cliente {
  width: 33.3%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
/* line 629, ../sass/screen.scss */
.contenedor-clientes .cliente img {
  width: auto;
  max-width: 150px;
}

/* line 635, ../sass/screen.scss */
.inherit-testimonio {
  position: inherit !important;
}

/* line 638, ../sass/screen.scss */
.contenedor-testimonios {
  width: 100%;
  height: 100%;
  background: #222;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 645, ../sass/screen.scss */
.contenedor-testimonios h1 {
  text-align: center;
  color: #FFF;
}
/* line 649, ../sass/screen.scss */
.contenedor-testimonios .flex-viewport {
  height: auto !important;
}
/* line 653, ../sass/screen.scss */
.contenedor-testimonios .cd-testimonials li:first-child {
  position: relative;
  opacity: 1;
}
/* line 657, ../sass/screen.scss */
.contenedor-testimonios .cd-testimonials .testimonio {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}
/* line 666, ../sass/screen.scss */
.contenedor-testimonios .cd-testimonials .testimonio img {
  width: 100px;
  height: 100px;
  margin: 0 auto 30px auto;
  border-radius: 50%;
}
/* line 672, ../sass/screen.scss */
.contenedor-testimonios .cd-testimonials .testimonio h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: "Neo Sans Medium";
  font-size: 20px;
  color: #FFF;
}
/* line 679, ../sass/screen.scss */
.contenedor-testimonios .cd-testimonials .testimonio p {
  line-height: 18px;
  font-size: 18px;
  color: #FFF;
}
/* line 684, ../sass/screen.scss */
.contenedor-testimonios .cd-testimonials .testimonio .autor {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  line-height: 20px;
  font-size: 14px;
}
/* line 692, ../sass/screen.scss */
.contenedor-testimonios .cd-testimonials .testimonio .autor .nombre {
  font-family: "Neo Sans Medium";
  color: #FFF;
}
/* line 696, ../sass/screen.scss */
.contenedor-testimonios .cd-testimonials .testimonio .autor .cargo {
  font-family: "Neo Sans Light";
  color: #FFF;
}

/* line 704, ../sass/screen.scss */
.flex-direction-nav {
  display: none;
}

/* line 707, ../sass/screen.scss */
.flex-control-nav {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  position: absolute;
  bottom: 50px;
  text-align: center;
}
/* line 715, ../sass/screen.scss */
.flex-control-nav li {
  display: inline-block;
  padding: 0px 5px;
}

/* line 720, ../sass/screen.scss */
.flex-control-paging li {
  margin: 0 5px;
}
/* line 722, ../sass/screen.scss */
.flex-control-paging li a {
  width: 10px;
  height: 10px;
  background: #222;
  border: 1px solid #888;
  border-radius: 50%;
  position: absolute;
  text-indent: -9999px;
  cursor: pointer;
}
/* line 732, ../sass/screen.scss */
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
  background: #FFF;
  border: 1px solid #666;
}

/**/
/*BLOG*/
/* line 741, ../sass/screen.scss */
object {
  width: 100%;
  height: 100%;
}

/**/
/*CONTACTO*/
/* line 749, ../sass/screen.scss */
.fs-form-wrap button {
  background: none;
  border: none;
}
/* line 753, ../sass/screen.scss */
.fs-form-wrap button[disabled] {
  opacity: .3;
  pointer-events: none;
}

/* line 758, ../sass/screen.scss */
.fs-form {
  width: 70%;
  position: absolute;
  left: 0;
}
/* line 762, ../sass/screen.scss */
.fs-form .fs-submit {
  display: none;
}

/* line 766, ../sass/screen.scss */
.fs-fields {
  position: relative;
}
/* line 768, ../sass/screen.scss */
.fs-fields li {
  border: none;
  position: absolute;
  top: 0;
  z-index: 1;
}
/* line 773, ../sass/screen.scss */
.fs-fields li label.fs-field-label {
  float: left;
  margin-bottom: 50px;
  position: relative;
  font-size: 30px;
  pointer-events: none;
}
/* line 780, ../sass/screen.scss */
.fs-fields li label[data-info]:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
/* line 784, ../sass/screen.scss */
.fs-fields li label[data-info]:before {
  float: right;
  margin-left: 10px;
  opacity: 0;
  content: attr(data-info);
  font-size: 12px;
  line-height: 30px;
  color: #222;
  pointer-events: none;
  transition: opacity .3s, transform .3s;
  transform: translate3d(0, -5px, 0);
}
/* line 796, ../sass/screen.scss */
.fs-fields li label[data-info]:after {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  border: 2px solid #222;
  border-radius: 50%;
  text-align: center;
  content: 'i';
  font-family: Georgia, serif;
  font-size: 14px;
  font-weight: 800;
  font-style: italic;
  line-height: 27px;
  color: #222;
  cursor: pointer;
  pointer-events: auto;
}
/* line 815, ../sass/screen.scss */
.fs-fields li label:hover ~ .fs-info,
.fs-fields li .fs-info:hover {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
/* line 821, ../sass/screen.scss */
.fs-fields li input {
  width: 100%;
  display: block;
  padding-bottom: 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #222;
  border-radius: 0;
  box-shadow: none;
  text-overflow: ellipsis;
  font-size: 30px;
  color: #888;
}
/* line 834, ../sass/screen.scss */
.fs-fields li input:invalid {
  box-shadow: none;
}
/* line 837, ../sass/screen.scss */
.fs-fields li textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  resize: none;
  background: transparent;
  border: 1px solid #222;
  border-radius: 0;
  font-size: 30px;
  color: #888;
  -webkit-appearance: none;
}
/* line 849, ../sass/screen.scss */
.fs-fields li input::-webkit-input-placeholder,
.fs-fields li textarea::-webkit-input-placeholder {
  color: #888;
}
/* line 853, ../sass/screen.scss */
.fs-fields li input:focus::-webkit-input-placeholder,
.fs-fields li textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 858, ../sass/screen.scss */
.fs-fields li:hover {
  z-index: 100;
}

/* line 862, ../sass/screen.scss */
.fs-fields [required] {
  background: url("../svg/requerido.svg") no-repeat;
  background-position: top right;
  background-size: 20px;
}

/* line 868, ../sass/screen.scss */
.js .fs-form-full .fs-fields li {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 875, ../sass/screen.scss */
.fs-form-full .fs-fields > li,
.fs-nav-dots,
.fs-progress,
.fs-numbers,
.fs-continue,
.fs-message-error,
.fs-message-final {
  visibility: hidden;
}

/* line 885, ../sass/screen.scss */
.no-js .fs-form-full .fs-fields li {
  visibility: visible;
}

/* line 889, ../sass/screen.scss */
.fs-form.fs-show {
  animation: animFadeIn .5s;
}
@keyframes animFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 901, ../sass/screen.scss */
.fs-form.fs-show .fs-fields {
  animation: animMove .5s;
}
@keyframes animMove {
  from {
    top: 100px;
  }
}
/* line 910, ../sass/screen.scss */
.fs-show {
  visibility: visible !important;
}

/* line 913, ../sass/screen.scss */
.fs-progress {
  width: 0%;
  height: 5px;
  background: #62B5AB;
  position: absolute;
  top: 0;
  transition: width .3s ease-in-out;
}

/* line 921, ../sass/screen.scss */
.fs-numbers {
  width: 50px;
  position: absolute;
  top: 0;
  right: 50px;
  overflow: hidden;
  font-family: "Neo Sans Light";
  font-size: 18px;
  color: #222;
  cursor: default;
}
/* line 931, ../sass/screen.scss */
.fs-numbers .fs-number-current {
  float: left;
}
/* line 934, ../sass/screen.scss */
.fs-numbers .fs-number-new {
  position: absolute;
  left: 0;
  transform: translateY(100%);
}
/* line 939, ../sass/screen.scss */
.fs-numbers span {
  width: 40%;
  float: right;
  text-align: center;
  color: #222;
}

/* line 946, ../sass/screen.scss */
.fs-numbers:after {
  position: absolute;
  opacity: .5;
  text-align: center;
  content: '/';
  font-family: "Neo Sans Light";
  color: #222;
}

/* line 954, ../sass/screen.scss */
.fs-numbers.fs-show-prev .fs-number-new {
  animation: animMoveDownFromUp .5s both;
}
@keyframes animMoveDownFromUp {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
/* line 965, ../sass/screen.scss */
.fs-numbers.fs-show-prev .fs-number-current {
  animation: animMoveDown .5s both;
}
@keyframes animMoveDown {
  to {
    transform: translateY(100%);
  }
}
/* line 973, ../sass/screen.scss */
.fs-numbers.fs-show-next .fs-number-new {
  animation: animMoveUpFromDown .5s both;
}
@keyframes animMoveUpFromDown {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
/* line 984, ../sass/screen.scss */
.fs-numbers.fs-show-next .fs-number-current {
  animation: animMoveUp .5s both;
}
@keyframes animMoveUp {
  to {
    transform: translateY(-100%);
  }
}
/* line 992, ../sass/screen.scss */
.fs-nav-dots {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}
/* line 997, ../sass/screen.scss */
.fs-nav-dots button {
  width: 10px;
  height: 10px;
  display: block;
  margin: 10px 0;
  background: #FFF;
  border: none;
  border-radius: 50%;
  position: relative;
  transition: transform .3s ease, opacity .3s ease;
}
/* line 1008, ../sass/screen.scss */
.fs-nav-dots button:before,
.fs-nav-dots button:after {
  width: 10px;
  height: 10px;
  border: 1px solid #888;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  text-indent: 0;
  content: '';
  backface-visibility: hidden;
}
/* line 1021, ../sass/screen.scss */
.fs-nav-dots button:after {
  background-color: #666;
  transform: perspective(1000px) rotate3d(0, 1, 0, 180deg);
}
/* line 1025, ../sass/screen.scss */
.fs-nav-dots button:hover:before,
.fs-nav-dots button.fs-dot-current:before {
  background: #666;
  border: 1px solid #666;
}

/* line 1031, ../sass/screen.scss */
.fs-continue {
  background: #62B5AB;
  border-radius: 0;
  position: absolute;
  top: 50%;
  text-transform: uppercase;
}

/* line 1038, ../sass/screen.scss */
.fs-continue:after {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: center;
  content: 'O PRESIONA ENTER';
  font-size: 0.65em;
  line-height: 3;
  color: #888;
  pointer-events: none;
}

/* line 1050, ../sass/screen.scss */
button.fs-submit,
button.fs-continue {
  padding: 15px 30px;
  font-family: "Neo Sans Light";
  font-size: 18px;
  color: #FFF;
}

/* line 1057, ../sass/screen.scss */
.fs-continue:hover,
.fs-submit:hover {
  background: #222;
  color: #FFF;
}

/* line 1062, ../sass/screen.scss */
.fs-message-error {
  width: 100%;
  position: absolute;
  top: 45%;
  left: 0;
  opacity: 0;
  text-transform: uppercase;
  font-size: 16px;
  color: #62B5AB;
}

/* line 1072, ../sass/screen.scss */
.fs-message-error.fs-show {
  opacity: 1;
}

/* line 1076, ../sass/screen.scss */
.fs-form li.fs-current {
  visibility: visible;
}
/* line 1079, ../sass/screen.scss */
.fs-form li.fs-hide,
.fs-form li.fs-show {
  pointer-events: none;
}

/* line 1084, ../sass/screen.scss */
.fs-form-overview {
  width: 70%;
  height: 100%;
  position: absolute;
  color: #222;
}
/* line 1090, ../sass/screen.scss */
.fs-form-overview .fs-fields input {
  border-bottom: 1px solid #222;
  font-size: 30px;
  color: #888;
}
/* line 1095, ../sass/screen.scss */
.fs-form-overview .fs-fields textarea {
  height: 200px;
  color: #888;
}
/* line 1100, ../sass/screen.scss */
.fs-form-overview .fs-fields:before {
  display: block;
  margin-bottom: 50px;
  content: '¿ESTÁN CORRECTOS TUS DATOS?';
  font-size: 26px;
  color: #62B5AB;
}
/* line 1107, ../sass/screen.scss */
.fs-form-overview .fs-submit {
  display: inline-block;
  background: #62B5AB;
  border-radius: 0;
  position: absolute;
  left: 0;
  text-transform: uppercase;
  color: #FFF;
}
/* line 1116, ../sass/screen.scss */
.fs-form-overview .fs-submit:hover {
  background: #222;
  color: #FFF;
}

/* line 1123, ../sass/screen.scss */
.fs-form-overview .fs-fields li,
.no-js .fs-form .fs-fields li {
  padding: 15px 0;
  position: relative;
}

/* line 1128, ../sass/screen.scss */
.fs-form-overview
.fs-form-overview .fs-submit,
.no-js .fs-form .fs-submit {
  float: right;
  display: block;
}

/* line 1134, ../sass/screen.scss */
.fs-form .fs-display-prev .fs-hide {
  visibility: visible;
}

/* line 1137, ../sass/screen.scss */
.fs-form .fs-display-prev .fs-hide .fs-anim-lower,
.fs-form .fs-display-prev .fs-hide .fs-anim-upper {
  animation: animHidePrev 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}
@keyframes animHidePrev {
  to {
    opacity: 0;
    transform: translate3d(0, 500px, 0);
  }
}
/* line 1147, ../sass/screen.scss */
.fs-form .fs-display-prev .fs-hide .fs-anim-upper {
  animation-delay: .1s;
}

/* line 1150, ../sass/screen.scss */
.fs-form .fs-display-prev .fs-show .fs-anim-lower,
.fs-form .fs-display-prev .fs-show .fs-anim-upper {
  animation: animShowPrev 0.5s cubic-bezier(0.7, 0, 0.3, 1) both 0.15s;
}
@keyframes animShowPrev {
  from {
    opacity: 0;
    transform: translate3d(0, -500px, 0);
  }
}
/* line 1160, ../sass/screen.scss */
.fs-form .fs-display-prev .fs-show .fs-anim-upper {
  animation-delay: .25s;
}

/* line 1163, ../sass/screen.scss */
.fs-form .fs-display-next .fs-hide {
  visibility: visible;
}

/* line 1166, ../sass/screen.scss */
.fs-form .fs-display-next .fs-hide .fs-anim-lower,
.fs-form .fs-display-next .fs-hide .fs-anim-upper {
  animation: animHideNext 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}
@keyframes animHideNext {
  to {
    opacity: 0;
    transform: translate3d(0, -500px, 0);
  }
}
/* line 1176, ../sass/screen.scss */
.fs-form .fs-display-next .fs-hide .fs-anim-lower {
  animation-delay: .1s;
}

/* line 1179, ../sass/screen.scss */
.fs-form .fs-display-next .fs-show .fs-anim-lower,
.fs-form .fs-display-next .fs-show .fs-anim-upper {
  animation: animShowNext 0.5s cubic-bezier(0.7, 0, 0.3, 1) both 0.15s;
}
@keyframes animShowNext {
  from {
    opacity: 0;
    transform: translate3d(0, 500px, 0);
  }
}
/* line 1189, ../sass/screen.scss */
.fs-form .fs-display-next .fs-show .fs-anim-lower {
  animation-delay: .25s;
}

/* line 1192, ../sass/screen.scss */
.mapa {
  width: 100%;
  height: 100%;
}
/* line 1195, ../sass/screen.scss */
.mapa iframe {
  width: 100%;
  height: 100%;
}

/**/
/*FOOTER*/
/* line 1203, ../sass/screen.scss */
footer {
  position: fixed;
  right: 60px;
  bottom: 0;
  left: 60px;
}
/* line 1208, ../sass/screen.scss */
footer .copyright {
  width: 100%;
  height: 60px;
}
/* line 1211, ../sass/screen.scss */
footer .copyright p {
  margin: 0;
  line-height: 60px;
  letter-spacing: 0;
  font-family: Arial;
  font-size: 12px;
}
/* line 1219, ../sass/screen.scss */
footer .datos-footer {
  height: 60px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
/* line 1225, ../sass/screen.scss */
footer .datos-footer .datos-contacto {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  margin-right: 10px;
}
/* line 1231, ../sass/screen.scss */
footer .datos-footer .datos-contacto ul {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}
/* line 1237, ../sass/screen.scss */
footer .datos-footer .datos-contacto ul li a {
  line-height: 60px;
  font-size: 14px;
  color: #666;
}
/* line 1242, ../sass/screen.scss */
footer .datos-footer .datos-contacto ul li a:hover {
  color: #222;
}
/* line 1246, ../sass/screen.scss */
footer .datos-footer .datos-contacto ul li:nth-child(1) {
  margin-right: 10px;
}
/* line 1251, ../sass/screen.scss */
footer .datos-footer .redes-sociales {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-end;
}
/* line 1256, ../sass/screen.scss */
footer .datos-footer .redes-sociales ul {
  margin: 10px 0;
  border-left: 1px solid #888;
  line-height: 40px;
}
/* line 1260, ../sass/screen.scss */
footer .datos-footer .redes-sociales ul li {
  width: 20px;
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}
/* line 1265, ../sass/screen.scss */
footer .datos-footer .redes-sociales ul li a {
  display: block;
  font-size: 20px;
  color: #666;
}
/* line 1270, ../sass/screen.scss */
footer .datos-footer .redes-sociales ul li a:hover {
  color: #222;
}
/* line 1274, ../sass/screen.scss */
footer .datos-footer .redes-sociales ul li:last-child {
  margin-right: 0;
}

/**/
@media screen and (max-width: 1600px) {
  /*CONTACTO*/
  /* line 1287, ../sass/screen.scss */
  .fs-fields li label[data-info]:after {
    display: none;
  }
  /* line 1290, ../sass/screen.scss */
  .fs-fields li label.fs-field-label {
    margin-bottom: 25px;
    font-size: 22px;
  }
  /* line 1294, ../sass/screen.scss */
  .fs-fields li input,
  .fs-fields li textarea {
    font-size: 14px !important;
  }
  /* line 1298, ../sass/screen.scss */
  .fs-fields li textarea {
    height: 100px;
  }

  /* line 1305, ../sass/screen.scss */
  .fs-form-overview .fs-fields textarea {
    height: 100px;
  }
  /* line 1309, ../sass/screen.scss */
  .fs-form-overview .fs-fields:before {
    margin-bottom: 25px;
    font-size: 20px;
  }

  /* line 1314, ../sass/screen.scss */
  .fs-continue {
    top: 55%;
  }

  /**/
}
@media screen and (max-width: 1600px) {
  /*RAMAS DE COMUNICACIÓN*/
  /* line 1322, ../sass/screen.scss */
  .ms-tableCell {
    vertical-align: bottom;
  }

  /* line 1325, ../sass/screen.scss */
  #multiscroll-nav {
    top: inherit;
    bottom: 60px;
  }

  /* line 1329, ../sass/screen.scss */
  .contenedor-rama {
    width: 90%;
    margin-left: 10px;
  }
  /* line 1332, ../sass/screen.scss */
  .contenedor-rama .rama {
    padding: 10px;
  }

  /**/
}
@media screen and (max-width: 1366px) {
  /*CLIENTES / TESTIMONIOS*/
  /* line 1343, ../sass/screen.scss */
  .contenedor-clientes .cliente img {
    max-width: 100px;
  }
}
@media screen and (max-width: 1280px) {
  /* line 1351, ../sass/screen.scss */
  h1 {
    font-size: 36px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  /* line 1356, ../sass/screen.scss */
  h2 {
    margin-top: 25px;
    font-size: 18px;
  }

  /* line 1360, ../sass/screen.scss */
  h3 {
    font-size: 16px;
    margin-bottom: 15px;
  }

  /*CLIENTES / TESTIMONIOS*/
  /* line 1369, ../sass/screen.scss */
  .contenedor-testimonios .cd-testimonials .testimonio p {
    line-height: 20px;
    font-size: 14px;
  }
  /* line 1372, ../sass/screen.scss */
  .contenedor-testimonios .cd-testimonials .testimonio p span {
    line-height: 22px;
    font-size: 18px;
  }

  /**/
}
@media screen and (max-width: 1024px) {
  /* line 1384, ../sass/screen.scss */
  p {
    line-height: 18px;
    font-size: 13px;
  }

  /*QUÉ HACEMOS*/
  /* line 1390, ../sass/screen.scss */
  .que-hacemos {
    width: 100%;
  }

  /**/
  /*RAMAS DE COMUNICACIÓN*/
  /* line 1397, ../sass/screen.scss */
  .contenedor-rama .rama {
    width: 90%;
  }
  /* line 1399, ../sass/screen.scss */
  .contenedor-rama .rama p {
    line-height: 14px;
    font-size: 12px;
  }

  /**/
}
@media screen and (max-width: 991px) {
  /* line 1409, ../sass/screen.scss */
  main {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  /* line 1413, ../sass/screen.scss */
  .contenedor-izquierda,
  .contenedor-derecha {
    width: 100%;
  }

  /*QUÉ HACEMOS*/
  /* line 1419, ../sass/screen.scss */
  .que-hacemos {
    width: 100%;
  }
  /* line 1421, ../sass/screen.scss */
  .que-hacemos h2,
  .que-hacemos p {
    width: 100%;
  }

  /* line 1426, ../sass/screen.scss */
  .contenedor-foto-comunicacion {
    width: 100%;
    background: #FFF;
    position: relative;
  }

  /**/
  /*RAMAS DE COMUNICACIÓN*/
  /* line 1434, ../sass/screen.scss */
  .left,
  .right {
    display: none;
  }

  /* line 1438, ../sass/screen.scss */
  #multiscroll-nav {
    display: none;
  }

  /* line 1441, ../sass/screen.scss */
  .ramas-comunicacion {
    width: 100%;
    position: relative;
  }

  /* line 1446, ../sass/screen.scss */
  .contenedor-comunicaciones .comunicacion {
    width: 100%;
    display: block;
    margin-top: 30px;
  }
  /* line 1451, ../sass/screen.scss */
  .contenedor-comunicaciones .comunicacion p a {
    color: #222;
  }
  /* line 1454, ../sass/screen.scss */
  .contenedor-comunicaciones .comunicacion p a:hover {
    color: #62B5AB;
  }
  /* line 1458, ../sass/screen.scss */
  .contenedor-comunicaciones .comunicacion .contenedor-multimedia {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
  /* line 1462, ../sass/screen.scss */
  .contenedor-comunicaciones .comunicacion .contenedor-multimedia iframe {
    height: auto;
  }

  /**/
  /*CLIENTES / TESTIMONIOS*/
  /* line 1472, ../sass/screen.scss */
  .contenedor-clientes .cliente {
    width: 50%;
  }

  /* line 1476, ../sass/screen.scss */
  .inherit-testimonio {
    position: relative !important;
  }

  /* line 1479, ../sass/screen.scss */
  .contenedor-testimonios {
    margin-top: 50px;
    background: #FFF;
  }
  /* line 1482, ../sass/screen.scss */
  .contenedor-testimonios h1 {
    color: #000;
  }
  /* line 1487, ../sass/screen.scss */
  .contenedor-testimonios .cd-testimonials .testimonio img {
    width: 50px;
    height: 50px;
    margin: 0 auto 15px auto;
  }
  /* line 1492, ../sass/screen.scss */
  .contenedor-testimonios .cd-testimonials .testimonio h2 {
    color: #222;
  }
  /* line 1495, ../sass/screen.scss */
  .contenedor-testimonios .cd-testimonials .testimonio p {
    color: #222;
  }
  /* line 1498, ../sass/screen.scss */
  .contenedor-testimonios .cd-testimonials .testimonio .autor {
    margin-top: 0;
  }
  /* line 1500, ../sass/screen.scss */
  .contenedor-testimonios .cd-testimonials .testimonio .autor .nombre,
  .contenedor-testimonios .cd-testimonials .testimonio .autor .cargo {
    font-size: 12px;
    color: #222;
  }

  /* line 1509, ../sass/screen.scss */
  .flex-control-nav {
    position: relative;
    bottom: 0;
  }

  /* line 1515, ../sass/screen.scss */
  .flex-control-paging li a {
    width: 5px;
    height: 5px;
    background: #FFF;
  }
  /* line 1520, ../sass/screen.scss */
  .flex-control-paging li a:hover,
  .flex-control-paging li a.flex-active {
    background: #222;
  }

  /**/
  /*CONTACTO*/
  /* line 1531, ../sass/screen.scss */
  .fs-form-overview .fs-fields li {
    padding: 5px 0;
  }
  /* line 1533, ../sass/screen.scss */
  .fs-form-overview .fs-fields li label.fs-field-label {
    margin-bottom: 10px;
  }

  /* line 1539, ../sass/screen.scss */
  .fs-numbers,
  .fs-nav-dots {
    right: 0;
  }

  /* line 1543, ../sass/screen.scss */
  .fs-form-overview {
    width: 100%;
  }

  /**/
  /*FOOTER*/
  /* line 1549, ../sass/screen.scss */
  footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    right: 15px;
    left: 15px;
  }
  /* line 1556, ../sass/screen.scss */
  footer .datos-footer .datos-contacto {
    display: none;
  }
  /* line 1559, ../sass/screen.scss */
  footer .datos-footer .redes-sociales {
    justify-content: center;
    border-left: 0;
  }
  /* line 1562, ../sass/screen.scss */
  footer .datos-footer .redes-sociales ul {
    border-left: 0;
  }
  /* line 1564, ../sass/screen.scss */
  footer .datos-footer .redes-sociales ul li:first-child {
    margin-left: 0;
  }

  /**/
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  /* line 1575, ../sass/screen.scss */
  main {
    right: 15px;
    left: 15px;
  }

  /* line 1579, ../sass/screen.scss */
  .contenedor-izquierda,
  .contenedor-derecha {
    position: inherit;
  }

  /*HEADER*/
  /* line 1585, ../sass/screen.scss */
  header {
    right: 15px;
    left: 15px;
  }
  /* line 1591, ../sass/screen.scss */
  header .menu .contenedor-menu .contenedor-hamburguesa .hamburguesa {
    overflow: visible;
  }
  /* line 1597, ../sass/screen.scss */
  header .menu-holder-izq {
    display: none;
  }
  /* line 1600, ../sass/screen.scss */
  header .menu-holder {
    width: 100%;
  }
  /* line 1603, ../sass/screen.scss */
  header .menu-holder nav ul {
    margin-left: 0;
    padding: 25px 0 25px 25px;
  }

  /**/
  /*HOME*/
  /* line 1613, ../sass/screen.scss */
  video {
    display: none;
  }

  /* line 1616, ../sass/screen.scss */
  .logo-animado {
    display: block;
  }

  /* line 1619, ../sass/screen.scss */
  .contenedor-intro {
    height: auto;
  }
  /* line 1621, ../sass/screen.scss */
  .contenedor-intro .intro {
    width: 100%;
    padding: 15px;
    background: #FFF;
  }
  /* line 1625, ../sass/screen.scss */
  .contenedor-intro .intro h1 {
    font-size: 18px;
    color: #222;
  }
  /* line 1629, ../sass/screen.scss */
  .contenedor-intro .intro p {
    font-size: 14px;
    color: #222;
  }

  /* line 1635, ../sass/screen.scss */
  .contenedor-servicios {
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    left: 0;
    bottom: 15px;
  }
  /* line 1641, ../sass/screen.scss */
  .contenedor-servicios .label {
    display: none;
  }
  /* line 1644, ../sass/screen.scss */
  .contenedor-servicios .texto-alternado {
    display: none;
  }

  /* line 1648, ../sass/screen.scss */
  .logos-premios {
    display: none;
  }

  /**/
  /*QUÉ HACEMOS*/
  /* line 1654, ../sass/screen.scss */
  .contenedor-foto-comunicacion {
    background: #FFF;
  }

  /**/
  /*CLIENTES / TESTIMONIOS*/
  /* line 1661, ../sass/screen.scss */
  .contenedor-clientes .cliente {
    width: 50%;
  }

  /**/
}
